{% extends 'base.html' %}

{% block title %}
    Edit Income
{% endblock %}
{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-11">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'income' %}">Income</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Edit Income</li>
                </ol>
            </nav>
        </div>
        <div class="col-md-1">
            <a href="{% url 'delete-income' income.id %}" class="btn btn-danger">Delete</a>
        </div>
    </div>
    
        <div class="card">
            
            <div class="card-body">
                {% include 'partials/_messages.html'   %}
                <form action="{% url 'edit-income' income.id %}" method="post">
                    {% csrf_token %}
                    
                    <div class="form-group">
                        <label for="">Amount</label>
                        <input type="number" class="form-control mb-3 mt-3" name="amount" value="{{income.amount}}">
                    </div>
                    <div class="form-group">
                        <label for="">Description</label>
                        <input type="text" class="form-control mb-3 mt-3" name="description" value="{{income.description}}">
                    </div>
                    <div class="form-group">
                        <label for="">Source</label>
                        <select name="source" class="form-control mb-3 mt-3" id="" >
                            <option selected value="{{income.source }}">{{income.source}}</option>
                            {% for source in sources %}
                                <option value="{{source.name }}">{{source.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="">Date</label>
                        <input type="date" class="form-control mb-3 mt-3" name="income_date" value="{{income.date |date:'Y-m-d'}}">
                    </div>
                    <input type="submit" value="Update" class="btn btn-primary mb-3 mt-3 float-end">
                </form>
                
            </div>
        </div>
    
</div>

{% endblock %}
