{% extends 'base.html' %} {% block content %}
<div class="container mt-5">
  <h5>Preferred Currency</h5>
  <hr />
  {% include 'partials/_messages.html'   %}
  <form action="{% url 'preferences' %}" method="post"> {% csrf_token %}
    <div class="input-group">
      <select
      name="currency"
        class="form-select"
        id="inputGroupSelect04"
        aria-label="Example select with button addon"
      >

        {% if user_preferences.currency %}
        <option value="{{user_preferences.currency}}" selected>{{user_preferences.currency}}</option>
        {% endif %}
        
        {% for currency in currencies %}
        <option value="{{currency.name}} - {{currency.value}}">{{currency.name}} - {{currency.value}}</option>
        {% endfor %}
      </select>
      <input class="btn btn-outline-secondary" type="submit" value="Save" />
    </div>
  </form>
</div>

{% endblock %}
