{% extends 'base.html' %}
{% load static %}
{% block title %}
    Expenses
{% endblock %}
{% block content %}
<div class="container mt-3">
    
    <div class="row">
        <div class="col-md-10">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'expenses' %}">Expenses</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Summary</li>
                </ol>
            </nav>
        </div>
        <div class="col-md-2 float-end">
            <a href="" class="btn btn-primary">Back</a>
        </div>
    </div>
    <div class="app-table">
        <table class="table table-striped table-hover">
            <thead>
                <th>Category</th>
                <th>Amount ({{currency}})</th>
                <th></th>
            </thead>
            <tbody>
                {% for total_expense in page_obj %}
                <tr>
                    <td>{{total_expense.category}}</td>
                    <td>{{total_expense.amount}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="pagination-conatiner">
            
        <div>
            Showing page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </div>
        <ul class="pagination align-right float-end mr-auto">
            {% if page_obj.has_previous %}
            <li {% if page_obj.number == 1 %} class="page-item active" {% endif %}><a class="page-link" href="?page=1">&laquo; 1</a></li>
            <li class="page-item"> <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
            {% endif %}
    
            {% if page_obj.has_next %}
            <li class="page-item"> <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
            <li class="page-item"> <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages}} &raquo;</a></li>
            {% endif %}

        </ul>
    
    </div>
    <div class="container">
        <canvas id="myChart"></canvas>
      </div>
      
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'js/expense_stats.js' %}"></script>

{% endblock %}
