{% extends 'base_auth.html' %} 
{% block title %}
  Register
{% endblock %}
{% block content %}
{% load static %}

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="card text-center mt-5">
      <div class="card-title ">
        <h4 class="card-text mt-5">Please enter your email to get reset link</h4>
      </div>

      <div class="card-body">
        <form action="{% url 'request-password' %}" method="post">{% csrf_token %}
            {% include 'partials/_messages.html'   %}
            
            <div class="form-group">
              <input
              class="form-control mt-3"
                type="email"
                name="email"
                placeholder="Email"
                id="emailField"
                class="form-control form-control-sm"
                value="{{values.email}}"
              />
            </div>
           
            <input class="btn btn-primary form-control mt-3 submit-btn" type="submit" value="Submit"/>
          </form>
      </div>
      <span class="text-lead lead mb-2">Don't have an account?<a href="{% url 'register' %}">   Register</a></span>
      <span class="text-lead lead">Already have an account?<a href="{% url 'login' %}">   Login</a></span>
      <br>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>

<script src="{% static 'js/register.js' %}"></script>

{% endblock %}
